[submodule "submodules/Farmer-module"]
	path = submodules/Farmer-module
	url = https://github.com/Vamsikrishna498/Farmer-module.git
[submodule "submodules/employee"]
	path = submodules/employee
	url = https://github.com/Vamsikrishna498/Employee-Module.git
